In [43]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as pyplot
import numpy as np,matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import PolynomialFeatures

from sklearn.model_selection import cross_val_score
from sklearn.pipeline import Pipeline

%matplotlib inline

In [44]:
from sklearn.datasets import load_boston

In [45]:
boston=load_boston()

In [46]:
boston.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [47]:
data = pd.DataFrame(boston.data,columns = boston.feature_names)
data['target']= boston.target

In [48]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [49]:
data.tail()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [50]:
scaler = StandardScaler()
scaler.fit(data.drop('target',axis=1))
scaled_features = scaler.transform(data.drop('target',axis=1))

In [51]:
trans = PolynomialFeatures(degree=1)
data_new= trans.fit_transform(scaled_features)
data_new_df = pd.DataFrame(data_new,columns= ["bias","CRIM","ZN","INDUS","CHAS","NOX","RM","AGE","DIS","RAD","TAX","PTRATIO","B","LSTAT"])
data_new_df.head()

,bias,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,1.0,-0.419782,0.284830,-1.287909,-0.272599,-0.144217,0.413672,-0.120013,0.140214,-0.982843,-0.666608,-1.459000,0.441052,-1.075562
1,1.0,-0.417339,-0.487722,-0.593381,-0.272599,-0.740262,0.194274,0.367166,0.557160,-0.867883,-0.987329,-0.303094,0.441052,-0.492439
2,1.0,-0.417342,-0.487722,-0.593381,-0.272599,-0.740262,1.282714,-0.265812,0.557160,-0.867883,-0.987329,-0.303094,0.396427,-1.208727
3,1.0,-0.416750,-0.487722,-1.306878,-0.272599,-0.835284,1.016303,-0.809889,1.077737,-0.752922,-1.106115,0.113032,0.416163,-1.361517
4,1.0,-0.412482,-0.487722,-1.306878,-0.272599,-0.835284,1.228577,-0.511180,1.077737,-0.752922,-1.106115,0.113032,0.441052,-1.026501

In [52]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data_new_df,data['target'],test_size=0.2,train_size=0.8)
#x_train, x_cv, y_train, y_cv = train_test_split(x,y,test_size = 0.25,train_size =0.75)

In [53]:
x_train

,bias,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
136,1.0,-0.382971,-0.487722,1.568995,-0.272599,0.598679,-0.488137,0.886351,-0.869043,-0.637962,0.170831,1.268938,0.236567,0.595309
297,1.0,-0.404105,-0.487722,0.406098,-0.272599,-1.016689,-0.704685,-0.376050,1.200287,-0.637962,-0.708183,-1.135347,0.441052,0.446725
236,1.0,-0.359936,-0.487722,-0.720322,3.668398,-0.412006,0.493453,0.281821,0.167785,-0.178120,-0.601276,-0.488039,0.348403,-0.436370
449,1.0,0.455309,-0.487722,1.015999,-0.272599,1.367490,0.188576,1.057042,-0.765365,1.661245,1.530926,0.806576,-0.575234,0.933128
392,1.0,0.926840,-0.487722,1.015999,-0.272599,1.255192,-1.778878,1.010813,-0.962643,1.661245,1.530926,0.806576,0.441052,1.826035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,1.0,-0.391010,-0.487722,-0.180458,-0.272599,-0.092387,-0.825781,0.324494,0.071285,-0.637962,-0.619094,-0.025677,0.435789,-0.161629
42,1.0,-0.404051,-0.487722,-0.616727,-0.272599,-0.921667,-0.164740,-2.203863,0.915493,-0.752922,-1.040783,-0.256858,0.292704,-0.959218
443,1.0,0.739321,-0.487722,1.015999,-0.272599,1.600725,0.285453,1.117494,-0.863576,1.661245,1.530926,0.806576,0.329544,0.868648
47,1.0,-0.393837,-0.487722,-0.616727,-0.272599,-0.921667,-0.362767,0.601866,0.900519,-0.752922,-1.040783,-0.256858,0.395440,0.861639
143,1.0,0.056310,-0.487722,1.231945,-0.272599,2.732346,-1.163425,1.117494,-1.132920,-0.523001,-0.031105,-1.736418,0.441052,1.929764

In [54]:
y_train

136    17.4
297    20.3
236    25.1
449    13.0
392     9.7
       ...
315    16.2
42     25.3
443    15.4
47     16.6
143    15.6
Name: target, Length: 404, dtype: float64

In [55]:

def hypothesis (j):
    x_new = pd.DataFrame()
    for k in range (14):
        feature_name = feature_name_list[k] 
        x_new.insert(k, feature_name, np.power(x_train.iloc[:,k],j[k]), True)
    return x_new

In [56]:
def regression_model (x):
    model= LinearRegression()
#     model.fit(x,y_train)
    # y_pred1=model.predict(x_cv)
    scores = cross_val_score(model,x,y_train,scoring = 'r2', cv=4)
    mse_scores =  cross_val_score(model,x,y_train,scoring = 'neg_mean_squared_error', cv=4)
    return scores.mean() , mse_scores.mean()

In [57]:
feature_name_list = ["bias","CRIM","ZN","INDUS","CHAS","NOX","RM","AGE","DIS","RAD","TAX","PTRATIO","B","LSTAT"]

    
j1 = [0,1,2,3,4,5,6,7,8,9,10,11,12,13]
j2 = [0,1,1,1,1,1,1,1,1,1,1,1,1,1]
j3 = [0,1,13,2,12,3,11,4,10,5,9,6,8,7]
j4 = [0,2,4,6,8,10,12,13,1,3,5,7,9,11]
j5 = [0,2,4,6,8,10,5,7,9,11,12,13,1,3]
j6 = [0,10,5,7,9,11,2,4,6,8,12,13,1,3]
j7 = [0,11,2,4,6,8,10,5,7,9,1,3,12,13]
j8 = [0,1,3,12,13,11,2,4,6,8,10,5,7,9]
j9 = [0,2,4,6,8,10,1,3,12,13,11,7,9,5]
j10 = [0,4,6,8,12,13,1,2,3,5,7,9,10,11]


x1 = hypothesis(j1)
x2 = hypothesis(j2)
x3 = hypothesis(j3)
x4 = hypothesis(j4)
x5 = hypothesis(j5)
x6 = hypothesis(j6)
x7 = hypothesis(j7)
x8 = hypothesis(j8)
x9 = hypothesis(j9)
x10 = hypothesis(j10)

jehat = [j1,j2,j3,j4,j5,j6,j7,j8,j9,j10]
feature_variation = [x1,x2,x3,x4,x5,x6,x7,x8,x9,x10]
score_list = []
mse_list = []

for x in feature_variation:
    score,mse = regression_model (x)
    score_list.append(score)
    mse_list.append(mse)

In [58]:

best_feature = feature_variation [score_list.index(max(score_list))]
best_j = jehat[score_list.index(max(score_list))]
max_score = max(score_list)
min_mse = -1 * max(mse_list)
print(best_j)
print(max_score)
print(min_mse)

[0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
0.7237359024882702
24.43746275274757

In [59]:
def get_test_score (x):
    model= LinearRegression()
    model.fit(x,y_train)
    y_pred=model.predict(x_test)
    score = r2_score(y_test,y_pred)
    mse = mean_squared_error(y_test,y_pred)
    return score , mse

In [60]:
score,mse = get_test_score (best_feature)

In [61]:
score

0.7098006470430491

In [62]:
mse

20.818220990569163